// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages_header {
  padding-bottom: 12px;
  border-bottom: solid 1px #d9d9d9;
  padding-top: 18px;

}


